.cart{
    margin-top:100px ;
    padding: 0px 40px;
}
.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw,12px);


}
.cart-items-item{
    margin: 10px 0px;
    color: black;
}
.cart-items-item img{
    width: 50%;
}
.cart hr{
    height: 1px;
    background-color: #e2e2e2;
    border: none;
}
.cart-items-item .cross{
   cursor: pointer; 
}



/* cart bottom */

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-total h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: #666;
}

.cart-total-details b {
    font-weight: bold;
    color: #333;
}

.cart-total button {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-total button:hover {
    background-color: #e03e00;
}

.cart-promocode {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-promocode p {
    font-size: 1rem;
    color: #666;
}

.cart-promocode-input {
    display: flex;
    gap: 10px;
}

.cart-promocode-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 1rem;
}

.cart-promocode-input button {
    background-color: #4299e1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-promocode-input button:hover {
    background-color: #3182ce;
}

@media (max-width: 750px) {
    .cart-bottom{
        flex-direction: column-reverse;

    }
    .cart-promocode{
        justify-content: start;
    }
}
   